---
import Image from 'astro/components/Image.astro';
import Star from '@assets/icon-star.svg';
---

<div class="flex gap-1">
  <Image src={Star} alt="star" />
  <Image src={Star} alt="star" />
  <Image src={Star} alt="star" />
  <Image src={Star} alt="star" />
  <Image src={Star} alt="star" />
</div>